//Colors
$main-dark: #3d5a80;
$white: #fff;

$accent: #e09f3e;
$accent-red: #e5383b;
$accent-gold: #FFD700;
$accent-light: #aeaeae;

//Font
$font-family-main: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
$font-family-core: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
monospace;